<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
		<link rel="stylesheet" th:href="@{css/bootstrap-table.css}"/>
</head>
<body>
	<a th:href="@{css/bootstrap-table.css}">get css file</a>
	
	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Price</th>
		</tr>
		<tr th:each="p : ${products}">
			<td th:text="${p.id}"></td>
			<td th:text="${p.name}"></td>
			<td th:text="${p.price}"></td>
		</tr>
	</table>
</body>
</html>