<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="menu">
	<div class="col-sm-3 well">	
		<ul class="nav in collapsible-menu" id="side-menu" data-collapsible="accordion">
			<li>
				<a href="tab-category" ui-sref="tab-category" class="waves-effect waves-teal">
					<i class="glyphicon "></i>  Category
				</a>
											
				<a href="tab-transaction" ui-sref="tab-transaction" class="waves-effect waves-teal">
					<i class="glyphicon "></i>  Transaction
				</a>
				
				<a href="postData" ui-sref="postData" class="waves-effect waves-teal">
					<i class="glyphicon "></i> Post Data
				</a>				
			</li>
		</ul>
	</div>
</aside>
</html>