<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Spring Security Example</title>
</head>

<body>
    <h1>Welcome!</h1>

    <p>
        <a th:href="@{/login}">Goto login page</a>
    </p>
    <p>
        <a th:href="@{/dashboard}">Goto Dashboard page</a>
    </p>
    <p>
        <a th:href="@{/register}">Goto Register Page</a>
    </p>

    <p>
        <a th:href="@{/rest/user/info}">Get user info</a>
    </p>
    <p>
        <a th:href="@{/rest/admin/info}">Get admin info</a>
    </p>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" />
    </form>
</body>

</html>