<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headertag::headerMaindFragment"></head>
<style type="text/css">
	.well{
		margin-bottom:0px;
	}
</style>
<body ng-app="app">
	<header th:include="./fragments/navheader::navbar"></header>
	<section>
		<div class="container-fluid">
			<div class="row">
				<div th:include="./fragments/navsidebar::menu"></div>
				<div class="col-sm-9 well">
					<div ui-view=""></div>
				</div>
			</div>
		</div>
	</section>
	
	<footer th:replace="fragments/footer::footerMainFragment"></footer>	
	<footer th:replace="fragments/footerscript::footerScriptFragment"></footer>
	
	<script type="text/javascript" src="../apps/controllers/transactions.controller.js" ></script>
</body>
</html>