<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footerScriptFragment">
	<script type="text/javascript" src="../js/jquery.min.js" ></script>
	<script type="text/javascript" src="../js/bootstrap.min.js" ></script>
	
	<script type="text/javascript" src="../js/angular.min.js" ></script>
	<script type="text/javascript" src="../js/angular-ui-router.min.js" ></script>
	<script type="text/javascript" src="../js/ocLazyLoad.js" ></script>
	
	<script type="text/javascript" src="../js/bootstrap-table.min.js"></script>
	<script type="text/javascript" src="../js/base-table.js" ></script>
	
	<script type="text/javascript" src="../apps/routing/router.js"></script>
</footer>

</html>