<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="menu">
	<div class="col-sm-3 well">	
		<ul class="nav in collapsible-menu" id="side-menu" data-collapsible="accordion">
			<li>
				<a href="categories" ui-sref="categories" class="waves-effect waves-teal">
					<i class="glyphicon glyphicon-heart"></i>  Categories
				</a>
							
				<a href="transactions" ui-sref="transactions" class="waves-effect waves-teal">
					<i class="glyphicon glyphicon-star"></i>  Transactions
				</a>
				
				<a href="form" ui-sref="form" class="waves-effect waves-teal">
					<i class="glyphicon glyphicon-ok"></i> Form
				</a>				
			</li>
		</ul>
	</div>
</aside>
</html>