<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>

<body>
	<form id="uploadForm">
		<input id="upload" type="file" name="file" accept="*" /> <br /> 
		<span id="msg"></span>
	</form>

	<script>
		$(document).ready(function() {
			$("#upload").on("change", postFile);
		});

		function postFile() {
			$.ajax({
				url : "/upload",
				type : "POST",
				data : new FormData($("#uploadForm")[0]),
				enctype : 'multipart/form-data',
				processData : false,
				contentType : false,
				cache : false,
				success : function() {
					$("#msg").text("File succesfully uploaded");
				},
				error : function() {
					$("#msg").text("File not uploaded (perhaps it's too much big)");
				}
			});
		}
	</script>
</body>
</html>
